body {
  background-color: #170800;
  height: 100vh; /* 100% of the viewport height */
  margin: 0; /* recommended */
}
#title {
  color:#4a1e07;
  position: absolute; 
   top: 50%; 
   transform: translateY(-50%); 
   width: 100%; 
   text-align: center;
   margin: 0;
}
