body {
  background-color: #242424;
  height: 100vh; 
  margin: 0; 
  place-items: center;
}
#title {
  color: #dec887;
  position: absolute; 
   top: 50%; 
   transform: translateY(-50%); 
   width: 100%; 
   text-align: center;
  background: #3d3a32;
  padding: 2rem;
}



